.cell {
    width: 20px;
    height: 20px;
    outline: 1px solid #7e7a7a;
    margin: 0;
    display: inline-block;




}


.cell-path {
    animation-name: shortestPath;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;

}

.cell-visited {
    animation-name: visitedAnimation;
    animation-duration: 1.5;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes visitedAnimation {
    0% {
        transform: scale(0.3);
        background-color: rgba(0, 0, 66, 0.75);
        border-radius: 100%;
    }

    50% {
        background-color: rgba(195, 78, 206, 0.75);
    }

    75% {
        transform: scale(1.2);
        background-color: rgba(0, 217, 159, 0.75);
    }

    100% {
        transform: scale(1);
        background-color: rgba(12, 53, 71, 0.63);
    }
}

.cell-wall {
    background-color: #DE6449;
}

@keyframes shortestPath {
    0% {
        transform: scale(0.6);
        background-color: brown;
    }

    50% {
        transform: scale(1.4);
        background-color: rgb(255, 254, 106);
    }

    100% {
        transform: scale(1);
        background-color: greenyellow;
    }
}